### Mandatory
# Trackers
.bash_history
.viminfo

# SSH RSA related
.ssh/*

# Work related
projects/*
workspace/*
temp/*

# Ignore everything in home on master branch
# This is changing on other branches
.bash_profile
.bashrc
.gitconfig
.inputrc
.profile
