

### Mandatory
# Trackers
.bash_history
.viminfo

# SSH RSA related
.ssh/id_rsa.pub
.ssh/id_rsa
.ssh/github_rsa
.ssh/github_rsa.pub
.ssh/mozilla_rsa
.ssh/.mozilla_rsa.pub

### Mandatory

# Ignore everything in home on master branch
# This is changing on other branches
.bash_profile
.bashrc
.gitconfig
.inputrc
.profile
.ssh/*
.ssh/authorized_keys
.ssh/known_host
.ssh/config
